body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    opacity: 80%;
    background: radial-gradient(50% 50%, yellow, rgb(0, 0, 0));
    
}

.console input {

    width: 190px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: black;
    opacity: 70%;
    margin-left: 15px;
    margin: 15px;
}

.panel button {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: yellow;
    transition: background-color 1s ease-in-out;
    
}
.console button {
    margin: 5px;
    display: flex;
    margin-left: 15px;
}
