{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft-panel</title>
</head>
<body>
<form class="log" action="/log/" method="POST">
    <h1>Вход</h1>
        {% csrf_token %}
    <input type="text" id="username" placeholder="user123" name="username">
    <input type="password" id="password" placeholder="Secret-yml123" name="password">
    <button type="submit">
        войти
    </button>
<p>
  Нет аккаунта?
  <a href="{% url 'register' %}">Регистрация</a>
</p>

    
</body>
</html>
